%style
  :sass
    @import util
    @import partials/base

    #filter
      margin-left: 1em
      width: 297px

    .info
      padding-bottom: 1em
      padding-top: 1em

    .container
      min-width: 800px
      width: 100%

    .congressman
      cursor: pointer
      display: inline-block

      .gloss
        +gloss

        position: absolute

      h2
        +user-select

    .slots
      display: inline-block

      img
        +border-radius

      .slot
        +border-radius
        +bounds(100px, 125px)

        background-color: $gray
        border: 2px dashed darken($gray, 20)
        box-sizing: border-box
        display: inline-block

    #save
      margin-left: 1em

%h1 Draft your new team!
.slots
  .slot
    .gloss
  .slot
    .gloss
  .slot
    .gloss
  .slot
    .gloss
  .slot
    .gloss
  .slot
    .gloss
  .slot
    .gloss
.name_container
  %input#team_name(type="text" value="#{current_user.display_name}'s team")
  %button#save
    Save team

.info
  %span.number 0
  selected
  |
  %span.rep_selected 0
  Republicans
  |
  %span.dem_selected 0
  Democrats
  |
  %span.ind_selected 0
  Independents

  %input#filter(type="text" placeholder="Filter congressmen by name")

.congress.container
  %ul
    = render :partial => "congressmen/congressman", :collection => @data

= javascript_include_tag "jquery.liveUpdate", "quicksilver"

:coffee
  $ ->
    $('#filter').liveUpdate('.congress ul', 'li.congressman', 'h2')

    total_selected = 0
    rep_selected = 0
    dem_selected = 0
    ind_selected = 0

    deselect_legislator = (element, img) ->
      party = element.find('li:first').attr('class')
      origin_position = element.find('ul')

      element.removeClass('selected')

      origin_position.parent().parent().find('.gloss').show()
      img.insertBefore(origin_position)
      $('.slots').append('<div class="slot"></div>')

      total_selected--

      switch party
        when 'dem' then dem_selected--
        when 'rep' then rep_selected--
        when 'ind' then ind_selected--

      update_counts()

    select_legislator = (element) ->
      party = element.find('li:first').attr('class')
      img = element.find('img')

      element.addClass('selected')

      element.find('.gloss').hide()
      $('.slot:first').before(img).remove()

      total_selected++

      switch party
        when 'dem' then dem_selected++
        when 'rep' then rep_selected++
        when 'ind' then ind_selected++

      update_counts()

    update_counts = ->
      $('.number').text(total_selected)
      $('.rep_selected').text(rep_selected)
      $('.dem_selected').text(dem_selected)
      $('.ind_selected').text(ind_selected)

    $('.slots>img').live "mousedown", (e) ->
      e.preventDefault()

      $this = $(this)

      name = $this.attr('title')

      congressman = $('.congressman h2:contains('+name+')').parent()

      deselect_legislator(congressman, $this)

    $('.congressman').live "mousedown", (e) ->
      e.preventDefault()
      $this = $(this)

      return if total_selected > 6

      select_legislator($this) unless $this.hasClass('selected')

    $('#save').click ->
      if total_selected != 7
        alert("Please select 7 legislators")
      else
        user_id = "#{current_user.id}"
        congressmen_ids = $('.congressman.selected').map((index, element) ->
          return $(element).data('id')
        ).get()

        data =
          user_id: user_id
          congressmen_ids: congressmen_ids
          name: $('#team_name').val()

        $('.congressman.selected').removeClass('selected')

        $.post "#{draft_congressmen_user_path(current_user.id)}", data
